html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	background: black;
}

select {
	position: absolute;
	top: 40px;
	left: 440px;
  margin: 0;
  width: 100px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(/assets/favicon.ico) 96% / 15% no-repeat #EEE;
}
